<!DOCTYPE html>
<html ng-app="appCliente">
    
    <head>
        <base href="/" />
        
        <meta charset="UTF-8">
        <title>ApiWeb | Home</title>
        
        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-route.js"></script>
        
        <script src="./js/app.js"></script>
        <script src="./js/controller/cliente-controller.js"></script>
        <script src="./js/controller/cidade-controller.js"></script>
        <script src="./js/controller/estado-controller.js"></script>
        
        <!-- Materialize -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <style>
            nav{background-color:#00695C}
        </style>
    </head>
        
    <body style="background-color:#FAFAFA">
        <nav class="nav-extended">
            <div class="nav-wrapper">
              <a href="/" class="brand-logo">Clientes App</a>
              <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="collapsible.html">Sair do sistema</a></li>
              </ul>
            </div>
            <div class="nav-content">
              <ul class="tabs tabs-transparent">
                <li class="tab"><a href="/clientes">Clientes</a></li>
                <li class="tab"><a href="/cidades">Cidades</a></li>
                <li class="tab"><a href="/estados">Estado</a></li>
              </ul>
            </div>
          </nav>
          
          <div ng-view="ng-view">
          </div>
    </body>
    
</html>